<head>
  <link rel='stylesheet' href='/mystyle.css' >
  <link rel='icon' type='image/png' href='bear.png'>
  <title>Bear Cave</title>
</head>

<body>
<nav>
  <form method='get' action='/' id='home'>
    <input class='navbar' type='submit' value='Home'>
  </form>
  <% if @current_user %>
    <form method='get' action='/dashboard' id='dashboard'>
      <input class='navbar' type='submit' value='Dashboard'>
    </form>  
    <form method='get' action='/requests' id='requests'>
      <input class='navbar' type='submit' value='Manage Requests'>
    </form>
    <form method='post' action='/sessions/logout' id='logout'>
      <input class='navbar' type='submit' value='Log Out'>
    </form>
  <% end %>
</nav>
<a href='/'>
<img id="logo" src="/bear.png" href='/'>
</a>
<% if @current_user %>

  <h3>Logged in as <%=@current_user.username%></h3>

    <form action="/dashboard/new" method="get">
      <input class='new_space' type="submit" value="Add New Space">
    </form>

    <ul>
      <% @spaces.each do |space| %> 
      <li>
        You have posted <%= space.name %> with description: <%= space.description %> for £<%= space.price %> per night.
      </li>
      <% end %>
    </ul>

<% else %>

  <%= flash[:not_logged_in] %>

<% end %>

</body>

