 <head>
  <link rel='stylesheet' href='mystyle.css' >
  <link rel='icon' type=image/png' href='bear.png'>
  <title>New Request</title>
</head>

<body>
<nav>
  <form method='get' action='/' id='home'>
    <input class='navbar' type='submit' value='Home'>
  </form>
  <% if @current_user %>
    <form method='get' action='/requests' id='requests'>
      <input class='navbar' type='submit' value='Manage Requests'>
    </form>
    <form method='post' action='/sessions/logout' id='logout'>
      <input class='navbar' type='submit' value='Log Out'>
    </form>
  <% end %>
</nav>

<h3>New request</h3>

</body>


<%=@space.available_dates.min%>
<%=@space.available_dates.max%>


<form action="/sent/request/<%= @space.id %> " method="post">
<input type="date" name="booking_date" min=<%=@space.available_dates.min%> max=<%=@space.available_dates.max%> >
<input type="submit" value="book now">
</form>
<%= flash[:shits_been_booked] %> 

